body
  #fb-root
  block header
    .navbar.navbar-fixed-top
      .navbar-inner
        .content.clearfix
          a.brand(href='/')
            img(src="images/pages/base/logo.png", title="CodeCombat", alt="CodeCombat")

          select.language-dropdown
